#heder{
    text-align: end;
}
a{
    color:black;
    margin: 5px;
    font-family: sans-serif;
    text-decoration: none;
}
a:hover{
    color: gray;
}
#sign-in{
    background-color: rgb(60, 142, 196);
    color: whitesmoke;
    cursor: pointer;
    padding: 6px;
    font-family: sans-serif;
    border: rgb(60, 142, 196);
    border-radius: 2px;
    margin: 10px;
}
main{
    width: auto;
    height: 100%;
    text-align: center;
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding-top: 10%;
}
#inp{
    padding-top: 30px;
    width: 42%;
}
#srch{
    width: 98%;
    border-radius: 22px;
    min-height: 25px;
    padding: 7px;
    border-color: #f9f9f93d;
    border-bottom-color: lightgray;
    border-inline-end-color: inherit;
    font-size: inherit;
}
#srch:hover{
    box-shadow: 2px 2px #e6e6e6;
}
#extra{
    padding: 20px;
}
.more{
    margin: 10px;
    padding: 7px;
    background-color: rgb(233, 232, 232);
    border-color: floralwhite;
    border-bottom-color: lightgray;
    border-inline-end-color: inherit;
    color:rgb(100, 100, 100);
    border: rgb(202, 200, 200);
    cursor: pointer;
    font-family: sans-serif;
}
.more:hover{
    box-shadow: 2px 2px #e0e0e0;
}
footer{
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(224, 224, 224);
    padding: 10px;
}
.footlft{
    color: rgb(117, 117, 117);
    margin: 10px;
}
.footrt{
    color: rgb(117, 117, 117);
    margin: 10px;
}
#footrt1{
    margin: 10px 6px auto auto;
}
